In [1]:
import numpy              as np
import pandas             as pd
import seaborn            as sns
import plotly.express     as px
import matplotlib.pyplot  as plt
import ipywidgets         as widgets

import folium
import geopandas

from datetime             import datetime
from streamlit_folium     import folium_static
from folium.plugins       import MarkerCluster
from IPython.core.display import HTML
from IPython.display      import Image
from ipywidgets           import fixed

In [3]:
df = pd.read_csv('datasets/df_tobuy.csv')

In [4]:
df.describe

<bound method NDFrame.describe of               id        date  buying_price  bedrooms  bathrooms  sqft_living  \
0     5561000190  2014-05-02      437500.0         3       2.25         1970
1     1523069197  2014-05-03      379880.0         3       2.50         1650
2     1823069155  2014-05-05      525888.0         5       1.75         2550
3     5561301280  2014-05-05      410000.0         3       2.25         1800
4     8648900060  2014-05-05      509900.0         3       2.50         1790
...          ...         ...           ...       ...        ...          ...
8125  3262300818  2015-02-27     1865000.0         4       3.75         3790
8126  3738000070  2015-03-09     1712750.0         5       2.50         2660
8127  2210500019  2015-03-24      937500.0         3       1.00         1320
8128  2525049133  2015-04-02     1398000.0         5       2.25         2640
8129  3025300250  2015-05-13     1620000.0         4       2.25         2350

      sqft_lot  floors  waterfront  view  ...          price_bins  season  \
0        35100     2.0           0     0  ...        under_median  spring
1        14054     1.0           0     0  ...        under_median  spring
2        71874     1.0           0     0  ...  from_median_upward  spring
3        36704     1.0           0     0  ...        under_median  spring
4         2700     2.0           0     0  ...  from_median_upward  spring
...        ...     ...         ...   ...  ...                 ...     ...
8125      8797     2.0           0     0  ...  from_median_upward  winter
8126      6572     1.0           0     0  ...  from_median_upward  winter
8127      8500     1.0           0     0  ...  from_median_upward  spring
8128     14959     1.0           0     0  ...  from_median_upward  spring
8129     17709     2.0           0     0  ...  from_median_upward  spring

      price_sqft  newer  basement  renovated  median_price_zipcode  \
0            222      1         0          0              571000.0
1            230      1         1          0              571000.0
2            206      0         1          0              571000.0
3            227      1         1          0              571000.0
4            284      1         0          0              571000.0
...          ...    ...       ...        ...                   ...
8125         492      1         1          0             1905000.0
8126         643      0         1          0             1905000.0
8127         710      0         0          0             1905000.0
8128         529      0         1          0             1905000.0
8129         689      1         0          0             1905000.0

      maximal_expend  suggested_selling_price  expected_profit
0           26250.00                 568750.0        105000.00
1           22792.80                 493844.0         91171.20
2           31553.28                 683654.4        126213.12
3           24600.00                 533000.0         98400.00
4           40792.00                 662870.0        112178.00
...              ...                      ...              ...
8125       149200.00                2331250.0        317050.00
8126       102765.00                2226575.0        411060.00
8127        56250.00                1218750.0        225000.00
8128        83880.00                1817400.0        335520.00
8129        97200.00                2106000.0        388800.00

[8130 rows x 31 columns]>

In [5]:
df = pd.read_csv('datasets/kc_house_data_processed.csv')

In [7]:
df.describe

<bound method NDFrame.describe of                id        date  buying_price  bedrooms  bathrooms  sqft_living  \
0      5561000190  2014-05-02      437500.0         3       2.25         1970
1       472000620  2014-05-02      790000.0         3       2.50         2600
2      1024069009  2014-05-02      675000.0         5       2.50         2820
3      7853361370  2014-05-02      555000.0         4       2.50         3310
4      5056500260  2014-05-02      440000.0         4       2.25         2160
...           ...         ...           ...       ...        ...          ...
21416  1422700040  2015-05-14      183000.0         3       1.00         1170
21417  8730000270  2015-05-14      359000.0         2       2.75         1370
21418  7923600250  2015-05-15      450000.0         5       2.00         1870
21419  5101400871  2015-05-24      445500.0         2       1.75         1390
21420  9106000005  2015-05-27     1310000.0         4       2.25         3750

       sqft_lot  floors  waterfront  view  ...  zipcode      lat     long  \
0         35100     2.0           0     0  ...    98027  47.4635 -121.991
1          4750     1.0           0     0  ...    98117  47.6833 -122.400
2         67518     2.0           0     0  ...    98029  47.5794 -122.025
3          6500     2.0           0     0  ...    98065  47.5150 -121.870
4          8119     1.0           0     0  ...    98006  47.5443 -122.177
...         ...     ...         ...   ...  ...      ...      ...      ...
21416      7320     1.0           0     0  ...    98188  47.4685 -122.282
21417      1140     2.0           0     0  ...    98133  47.7052 -122.343
21418      7344     1.5           0     0  ...    98007  47.5951 -122.144
21419      6670     1.0           0     0  ...    98115  47.6914 -122.308
21420      5000     2.0           0     0  ...    98115  47.6747 -122.303

       sqft_living15  sqft_lot15  season  price_sqft  newer  basement  \
0               2340       35100  spring         222      1         0
1               2380        4750  spring         303      0         1
2               2820       48351  spring         239      1         0
3               2380        5000  spring         167      1         0
4               1850        9000  spring         203      1         1
...              ...         ...     ...         ...    ...       ...
21416           2040        7320  spring         156      0         0
21417           1370        1090  spring         262      1         1
21418           1870        7650  spring         240      0         0
21419            920        6380  spring         320      0         1
21420           2170        4590  spring         349      0         1

       renovated
0              0
1              0
2              0
3              0
4              0
...          ...
21416          0
21417          0
21418          0
21419          0
21420          0

[21421 rows x 26 columns]>